.section {
  padding: 200px 0 0 0;
  text-align: center;
}

.section__title {
  padding-top: 150px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-title);
  color: var(--color-section-title);
}

.section__subtitle {
  padding-top: 30px;
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
  font-weight: 300;
  color: var(--color-text);
  padding-bottom: 30px;
}


